
{% extends "base.html" %}

{% block base %}

<div class='admin-all'>
<div class="admin-left">
  <div class="container">
  <div class="row">
  <div class="span6">
  <ul class="nav nav-list">
  <li class="nav-header">管理员</li>
			<li><a href="/admin/password">修改密码</a></li>
<li class="nav-header">内容</li>
			<li><a href="/admin/category">分类管理</a></li>
			<li><a href="/admin/post">文章管理</a></li>
			<li><a href="/admin/tag">标签管理</a></li>
			<li class="divider"></li>

  </ul>
  </div>
  </div>
  </div>
</div>

<div class="admin-right">
{% block admin_left %}{% endblock %}
</div>
</div>




{% endblock %}