{% extends "admin_left.html" %}

{% block admin_left %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p>分类管理  <a class="btn btn-default" href="create/" role="button">新建分类</a></p></div>
  <!-- Table -->
  <table class="table table-hover">
	
{% for cate_data in category_data %}
     <tr>
    	<td width=50%;><a href="{{ cate_data[1] }}/">{{ cate_data[0] }}</a>
    	</td>
    	<td width=25%;>编辑&nbsp;<a href="/admin/category/delete/?id={{ cate_data[1] }}">删除</a>
    	</td>
    </tr>
{% endfor %}
  </table>
</div>


{% endblock %}