{% extends "base.html" %}

{% block base %}
<div class="index">
	{% block index %}{% endblock %}
	
	<div class="index-right">
<div class="list-group">
  {% for cate_data in cate_all %}
  <li class="list-group-item">

   <a href="/category/{{ cate_data[1] }}/">{{ cate_data[0] }}</a><span class="badge">{{ cate_data[2] }}</span>
  </li>
  {% endfor %}
</div>

<div class="list-group">
  <a href="#" class="list-group-item disabled">
    推荐文章
  </a>
  {% for i in recommend %}
  <a href="/post/{{ i.id }}" class="list-group-item">{{ i.title }}</a>
    {% endfor %}
</div>
	




	</div>
	

</div>
{% endblock %}



