{% extends "admin_left.html" %}

{% block admin_left %}

    <head>
        <title>A Simple Page with CKEditor</title>
        <!-- 请确保CKEditor文件路径正确 -->
        <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    </head>
    <body>
    <div class="post_title">
    {% for message in get_flashed_messages() %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %}
 <form action="/admin/post/create/"  method='POST'>
 {{ form.csrf_token }}
     <input type="text" name="title" class="form-control" placeholder="标题">
  
      <select name="select" class="select">
         {% for cate_data in category_data %}
<option value="{{ cate_data[0] }}">{{ cate_data[0] }}</option>
   {% endfor %}
    </select>


  {{ form.recommend(type="checkbox",id="inlineCheckbox1") }}推荐
</div>
<textarea name="post_des" class="form-control" rows="3" placeholder="描述"></textarea>
<br>
       
            <textarea name="editor1" id="editor1" class="ckeditor" rows="10" cols="80">
               
            </textarea>
            <br>
            <button type="submit" class="btn btn-primary">发送</button>
            
             <span class="glyphicon glyphicon-user" aria-hidden="true">:{{ params_dict.author }}</span>
        </form>
        

   
    </body>

{% endblock %}